@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root{
    --h1: 40px;
    --h2: 32px;
    --h3: 28px;
    --h4: 24px;
    --h5: 20px;
    --h6: 16px;

    --sub: 20px;

    --label: 16px;
    --ls: 5px;

    --body: 14px;

    --font-1: 'Crimson Text', serif;
    --font-2: 'Work Sans', sans-serif;

    --color-dark-100: rgba(33, 37, 41, 1);
    --color-dark-75: rgba(33, 37, 41, 0.75);
    --color-dark-50: rgba(33, 37, 41, 0.502);
    --color-dark-25: rgba(33, 37, 41, 0.25);

    --color-white-100: rgba(255, 255, 255, 1);
    --color-white-75: rgba(255, 255, 255, 0.75);
    --color-white-50: rgba(255, 255, 255, 0.5);
    --color-white-25: rgba(255, 255, 255, 0.25);

    --color-green-100: rgb(78, 204, 163,1);
    --color-green-75:  rgb(78, 204, 163,.75);
    --color-green-50:  rgba(78, 204, 163, 0.5);
    --color-green-25:  rgb(78, 204, 163,.25);

    --shadow :3px 8px 19px var(--color-dark-50);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: var(--color-white-100);
}
.white-btn, 
.dark-btn,.green-btn{
    color: var(--color-white-100);
    background-color: var(--color-white-100);
    cursor: pointer;
    font-size: var(--h5);
    font-family: var(--font-2);
    border: none;
    border-radius: 8px;
    padding: 10px 40px;
}
.white-btn a{
    color: var(--color-dark-100) ;
}
.dark-btn{
    
    background-color: var(--color-dark-100);  
}
.dark-btn a{
    color: var(--color-white-100);
}
.green-btn{
    background-color: var(--color-green-100);
}
.green-btn a{
    color: var(--color-white-100);

}
.dark-btn:hover{
    background-color: var(--color-green-100);
    transition: all .3s;

}
.text-white{
    color: var(--color-white-100);
}
.text-dark{
    color: var(--color-dark-100);
}
.text-green{
    color: var(--color-green-100);
}

.label{
    font-family: var(--font-2);
    font-size: var(--label);
    letter-spacing: var(--ls);
    text-transform: uppercase;
    font-weight: 700;
}
.bi-check-circle{
    padding-right: 1rem;
}
input,select{
    padding: .5em 1em;
}
i{
    padding-right: 10px;
}
footer i:hover {
    color: var(--color-white-100);
}
.hero{
    background-color: var(--color-green-100);
    background-image: url("/public/images/hero9.jpg");
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 12rem;
    margin-top: -7rem;

}
.hero-img2{
    background-image: url("/public/images/hero8.jpg") ;
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: -7rem;
    padding-top: 8rem;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.navbar__menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:15px ;
    font-family: var(--font-2);
    font-size: var(--h5);
}
.navbar__menu li{
    cursor: pointer;
}
.navbar__hamburger--menu{
    display: none;
}
.navbar__hamburger--menu i{
    font-size: var(--h4);
    padding-right: 0;
}
.navbar__logo--text{
    font-family: 'Dancing Script', cursive;
    font-size: var(--h1);
    font-weight: 500;
    color: var(--color-dark-100);
}
.navbar__logo--text a {
    color: var(--color-dark-100);
}


[class ^="navbar__menu--"] a{
    color: var(--color-dark-100);
    cursor: pointer;
}
[class ^="navbar__menu--"]:hover{
   color: var(--color-green-100);
}
.aktive li{
    color: var(--color-green-100);
    font-weight: bold;
    transform: scale(1.2);
}
.right{
font-family:'Dancing Script' ;
font-weight: bold;
font-size: 2rem;
text-align: center;
}
.hide{
    display: none;
}
.container{
    max-width: 1240px;
    margin: auto;
    align-items: center;
}
.responsive-img{
    max-width: 100%;
    height: auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    padding: 40px 0;
    gap: 25px;
}
.flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hoverTrash:hover{
color:#f59e18
}
.common-title{
    text-transform: capitalize;
    font-size: var(--h1);
    font-family: var(--font-1);
    font-weight: bold;
}
.second-title{
    text-transform: uppercase;
    font-size: var(--h3);
    font-family: var(--font-2);
}
li{
    list-style: none;
}
.little-font{
    font-size: var(--body);
}
.bg{
    background-color: rgba(33, 37, 41, 0.08);
    padding: 6rem 0;
}
.bi-check2-circle{
    margin-right: 10px;
}
footer{
    background-color: var(--color-dark-100);    ;
}
.footer_title{
    font-family: var(--font-2);
    font-size: var(--h4);
    color: var(--color-white-75);
    padding: 1rem 0;
    
}
.footer{
    display: grid;
    grid-template-rows: 3fr 1fr;
    padding-bottom: 2rem ;
}
.footerTop{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 10px;
}
.footerTop>div{
    padding: 1rem;

}
.footerTop__one,
.footerTop__two,
.footerTop__three,
.footerTop__four,
.footerTop__four form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footerTop__four form .form-btn{
   align-self: flex-start;
   margin-top: 20px;
}

.footerTop__two--content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color-white-50);
    font-family: var(--font-2);
}
.footerTop__three{
  
    color: var(--color-white-50);
    font-family: var(--font-2);
}
.footerBottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 1rem;
    border: none;
    color: var(--color-white-50);
    border-top: 1px solid var(--color-white-25);
}
.footerBottom__text{
    text-align: center;
}
.footerTop__one--icons,
.footerTop__one--content{
    color: var(--color-white-50);
    cursor: pointer;
}
.footerBottom__btn .green-btn{
    margin-right: 15px;
}
@media(min-width:1400px) {
    .hero{
        height: 700px;
        background-position-x: center;
        /* padding: 2rem 4rem; */
    }
    .footerTop{
        grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );   
    }
    .container{
        padding: 2rem 3rem;
        margin: auto;
    }
}

@media(max-width:1124px){
    .hero{
        height: 700px;
        background-position-x: center;

    }
    .container{
        padding: 2rem 3rem;
        margin: auto;
    }
    .hero .navbar{
        padding: 30px ;
    }
    .footerTop{
        grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) ); 
    }
}
@media(max-width:900px){
    .hero{
        height: auto;
        background-attachment: local;

    }
    .navbar{
        padding: 30px 0;
    }
    .navbar__menu{
        display: none;
    }
    .container{
        margin: 0 ;
        /* padding: 10px 30px 50px; */
    }
    .common-title{
        font-size: var(--h2);
    }
    .second-title{
        font-size: var(--h4);
    }
    .dark-btn,.green-btn,.white-btn{
        font-size: var(--h6);
        padding: 7px 20px;
    }
    .footerTop{
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    }
}
@media(max-width:570px){
    .container{
        margin: 0 ;
        padding: 10px 30px;
    }
    .grid{
        grid-template-columns: 1fr;
        gap: 5px;
        padding: 0px;
    }
    .hero{
        padding: 10px 30px 50px;
        height: auto;
    }
    .hero .container{
        padding: 10px 0px;
    }
    .navbar{
        gap: 2rem;   
    }
    .navbar__menu{
        display: none;
    }
    .navbar__btn{
        display: none;
    }
    .navbar__hamburger--menu{
        display: block;
    }
    .navbar__logo--text {
        font-size: var(--h5);
    }
    .label{
        font-size: var(--body);
    }
    .dark-btn,.green-btn,.white-btn{
        font-size: var(--h6);
        padding: 7px 20px;
    }
    .common-title{
        font-size: var(--h3);
    }
    .second-title{
        font-size: var(--h5);
    }
 
}


/* landingPage css */
/* .sectionOne {
    margin-top: 100px;
} */
.sectionOne__text {
    font-family: var(--font-2);
    font-size: var(--sub);
    color: var(--color-dark-75);
}

.sectionOne__btn,
.sectionFour__boxRight--btn {
    align-self: flex-start;
    margin-top: 20px;
}
@keyframes zoom{
    form{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}
#bokning{      
    animation-duration: 3s;
    animation-name: zoom;
    animation-iteration-count: infinite; 
    animation-direction: alternate; 
}

.sectionTwo {
    padding: 6rem 2rem;
    text-align:center;
}
.sectionTwo__text {
    font-family: var(--font-2);
    font-size: var(--sub);
    color: var(--color-dark-75);
    text-align: center;
}
.sectionTwo__btn,
.sectionThree__item--btn {
    align-self: center;
    margin-top: 20px;
}
.sectionThree{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 15px;
    margin-top: 1rem;

}
.sectionThreeTitle{
    text-align: center;
    /* color: var(--color-dark-75); */
    font-size: var(--h2);
    margin-bottom: 3rem;
}
.sectionThree__item{
    background-color: var(--color-white-50);
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 300ms;
    min-height: 450px;
    justify-content: space-around;
}
.sectionThree__item:hover{
    box-shadow: 3px 8px 19px var(--color-dark-50);
}
.sectionThree__item--title{
    text-align: center;
    font-family: var(--font-2);
    font-size: var(--h3);
    border: 1px solid var(--color-dark-25);
    border-radius: 8px;
    padding: 5px 20px;
    color: var(--color-green-100);
}
.sectionThree__item--detailesPrice{
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--color-dark-25);
    margin: 20px 0;
}
.sectionThree__item--detailesPrice .price{
    font-size: var(--h1);
    font-weight: 600px;
    font-family: var(--font-2);
    position: relative;
}
.sectionThree__item--detailesPrice .price::before,
.sectionThree__item--detailesPrice .price::after{
    position: absolute;
}
.sectionThree__item--detailesPrice .price::before{
    content: "sek";
    left: -33px;
    top: 3px;
    font-size: var(--h6);
}
.sectionThree__item--detailesPrice .price::after{
    content: "/månad";
    left: 76px;
    top: 26px;
    font-size: 13px;
}
.sectionThree__item--detailesPrice p{
    font-size: var(--h5);
    margin-top: 5px;
}
.sectionThree__item--detailesFeatures li{
    display: flex;
    list-style: none;
    margin-top: 10px;
    align-items: center;
    font-size: var(--h6);
}
.sectionFour {
    background-image: url("/public/images/bg2.jpg");
    height: 300px;
    background-size: cover;
    background-color: var(--color-dark-50);
    background-blend-mode: color;
    background-attachment: fixed;
}

.dark-bg {
    margin: 6rem 0;
}
.sectionFive {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    gap: 2rem;
}
.sectionFiveTitle {
    grid-area: title;
    text-align: center;
    padding-bottom: 2rem;
}
.sectionFive article {
    border-right: 1px solid var(--color-green-75);
}
.sectionFive article:last-child{
    border-right:none;
}
.content {
    text-align: center;
    padding: 2rem;
    font-family: var(--font-2);
    gap: 1rem;
}
.content p {
    color: var(--color-dark-50);
}
.bi-star-fill,
.bi-star {
    color: var(--color-green-100);
}
.sectionFive h2 {
    color: var(--color-dark-75);
}
.sectionFive-btn {
    display: flex;
    justify-content: center;
}
.title {
    text-align: center;
}
.sectionSix{
    margin-top: 6rem ;
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 15px;
    padding: 0.5em 1rem;
}
.sectionSix__title{
    text-align: center;
}
fieldset{
    border:3px solid var(--color-dark-75);
    padding: 0.5em 1rem;
}
.sectionSix__dateInfo >div{
    padding: 0.5em 1rem;

}
.sectionSix__staffInfo>div{
    padding: 0.5em 1rem;
}
.sectionSix__dateInfo >div>input
{
    border: none;
    border-bottom: 3px solid var(--color-dark-75);
    border-radius: 0 0 8px 8px;
    padding: 0.5em 1rem;
}
.sectionSix__staffInfo>div> select{
    border: none;
    border-bottom: 3px solid var(--color-dark-75);
    border-radius: 0 0 8px 8px;
    padding: 0.5em 1rem;
}
tr:hover{
    background-color: var(--color-green-25);
    cursor: pointer;
}

.radio{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 0.5em 1em;    
    /* border:1px solid rgba(0, 0, 0, 0.671); */
    margin-bottom: 10px;
}
[class ^="sectionSix__"]>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: .5rem;

}
.sectionSix__left,
.sectionSix__right{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    text-align: center;
}
.sectionSix__left{
    background-color: var(--color-dark-100);
    color: var(--color-white-75);
   
}

.sectionSix__right{
    background-color: var(--color-green-100);
    color: var(--color-dark-75);
}
.sectionSix__right img,
.sectionSix__left img{
    width: 100%;
    height: 100%;
}
.sectionSix form{
    /* border: 1px solid var(--color-dark-25); */
    /* padding: 2rem 3rem; */
    background-color: #fff;
    border-radius: 8px;
}
.sectionSix form h2{
   text-align: center;
   padding: 1rem;
}
@media(min-width:1240px) {
    .sectionFive{
        grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    }
    .sectionFive article
    {
       border-right: none;
   }
   .sectionSix {
    margin-top: 0;
}
}
@media(max-width:1124px) {
    .sectionThree{
        grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    }
    .sectionFive{ 
        grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    }
    .sectionFive article:first-child,
    .sectionFive article:nth-child(2)
     {
        border-bottom: 1px solid var(--color-green-75);
    }
    .sectionFive article:nth-child(2)
     {
        border-right: none;
    }
    .sectionSix__left{
        display: none;
    }
    .sectionSix {
        margin-top: 0;
    }
    .dark-bg{
        margin-bottom: 0;
    }
}

@media(max-width:900px) {
    .sectionOne__text {
        font-size: var(--label);
    }
    .sectionOne{
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    }
    .sectionThree{
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    }
     .sectionFive article{
        border-right: none;
    }
    .sectionFive article
     {
        border-bottom: 1px solid var(--color-green-75);
    }
    .sectionSix {
        margin-top: 0;
    }
}

@media(max-width:570px) {
    .sectionOne{
        margin-top: 30px;
    }
    .sectionOne__text {
        font-size: var(--body);
    }
    .sectionTwo {
        width: 100%;
        text-align: center;
    }
    .sectionTwo__title,
    .sectionThreeTitle,
    .sectionFour__boxLeft--title,
    .sectionSix__title{
        font-size: var(--h4);
    }
    .sectionTwo__text {
        font-size: var(--body);
    }
    .bg{
        padding: 2rem 0;
    }
    .sectionThree {
        grid-template-columns: 1fr;
        gap: 25px;
        margin: 10px;
    }
    
    .sectionFour {
        height: 150px;
        margin: 10px;
    }
    .sectionFour__box {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    .sectionFive {
        grid-template-columns: 1fr;
        gap: 0;
        margin: 10px;
    }
    .dark-bg{
        margin: 0 2rem;
    }
    .sectionFiveTitle{
       padding-bottom: 0;
       font-size: var(--h4);
    }
    .sectionFive article {
        border-bottom: 1px solid var(--color-green-75);
        border-left: 0;
        border-right: 0;
    }
    .content{
        padding: 1rem 0;
    }
    .content h2{
        font-size: var(--h5);
    }
    .content p{
        font-size: var(--body);
    }
    .sectionSix {
        grid-template-columns: 1fr;
        margin-top: 0;
    }
    
    .sectionSix form{
        padding: 2rem;
    }
}